<a href="https://colab.research.google.com/github/mshoush/ML21_Project_MFGC/blob/AA/all_data_clean_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import necessary libraries
import pandas as pd
import os
import glob

open data

In [ ]:
df = pd.read_csv('All_merged_2017_2021.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Registration_number                 Name_x  ... Registration_date Deletion_date
0             10000018         AMSERV AUTO AS  ...        1994-08-23           NaN
1             10000024       EESTI RAAMAT, OÜ  ...        1990-07-17           NaN
2             10000127     ARAVETE APTEEK, TÜ  ...        1995-09-27           NaN
3             10000165  KIVIÕLI KAUBAHOOV, AS  ...        1993-04-21           NaN
4             10000219               YEAR, AS  ...        1995-09-28           NaN

[5 rows x 18 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426978 entries, 0 to 426977
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Registration_number                         426978 non-null  int64
 1   Name_x                                      426978 non-null  object
 2   Type                                        426978 non-null  object
 3   Registered_for_VAT                          426978 non-null  object
 4   County                                      421251 non-null  object
 5   Business_area_by_EMTAK_system               420334 non-null  object
 6   All_taxes                                   345545 non-null  float64
 7   Labor_taxes                                 345545 non-null  float64
 8   Turnover                                    328520 non-null  float64
 9   number_of_employees                         274330 non-null  float64
 10  year_quarter                                426978 non-null  object
 11  Name_y                                      426978 non-null  object
 12  Business_area_by_EMTAK_system_letter        426978 non-null  object
 13  Business_are_by_EMTAK_system_number         426978 non-null  int64
 14  Institutional_classification                426978 non-null  object
 15  Client_identifyer_by_Estonian_Central_Bank  426978 non-null  int64
 16  Registration_date                           426978 non-null  object
 17  Deletion_date                               3250 non-null    object
dtypes: float64(4), int64(3), object(11)
memory usage: 58.6+ MB

In [ ]:
df.shape

(426978, 18)

In [ ]:
df.sort_values('Registration_number', inplace = True)

In [ ]:
df['Registration_number'].drop_duplicates(keep = False, inplace=True)

In [ ]:
df.shape

(426978, 18)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df.isnull().sum()

Registration_number                                0
Name_x                                             0
Type                                               0
Registered_for_VAT                                 0
County                                          5727
Business_area_by_EMTAK_system                   6644
All_taxes                                      81433
Labor_taxes                                    81433
Turnover                                       98458
number_of_employees                           152648
year_quarter                                       0
Name_y                                             0
Business_area_by_EMTAK_system_letter               0
Business_are_by_EMTAK_system_number                0
Institutional_classification                       0
Client_identifyer_by_Estonian_Central_Bank         0
Registration_date                                  0
Deletion_date                                 423728
dtype: int64

In [ ]:
index_names = df[(df['Type'] == 'Mittetulundusühing')].index
df.drop(index_names, inplace = True)

In [ ]:
index_names1 = df[(df['Type'] == 'Sihtasutus')].index
df.drop(index_names1, inplace = True)

In [ ]:
index_names2 = df[(df['Type'] == 'Valitsus- ja riigiasutus')].index
df.drop(index_names2, inplace = True)

In [ ]:
df['All_taxes'].dropna(inplace = True)

In [ ]:
df.head()

   Registration_number                 Name_x  ... Registration_date Deletion_date
0             10000018         AMSERV AUTO AS  ...        1994-08-23           NaN
1             10000024       EESTI RAAMAT, OÜ  ...        1990-07-17           NaN
2             10000127     ARAVETE APTEEK, TÜ  ...        1995-09-27           NaN
3             10000165  KIVIÕLI KAUBAHOOV, AS  ...        1993-04-21           NaN
4             10000219               YEAR, AS  ...        1995-09-28           NaN

[5 rows x 18 columns]

In [ ]:
df.isnull().sum()

Registration_number                                0
Name_x                                             0
Type                                               0
Registered_for_VAT                                 0
County                                          2390
Business_area_by_EMTAK_system                   3109
All_taxes                                      78785
Labor_taxes                                    78785
Turnover                                       87230
number_of_employees                           148973
year_quarter                                       0
Name_y                                             0
Business_area_by_EMTAK_system_letter               0
Business_are_by_EMTAK_system_number                0
Institutional_classification                       0
Client_identifyer_by_Estonian_Central_Bank         0
Registration_date                                  0
Deletion_date                                 406853
dtype: int64

In [ ]:
df.dropna(subset=['Turnover'])

        Registration_number  ... Deletion_date
1                  10000024  ...           NaN
2                  10000127  ...           NaN
3                  10000165  ...           NaN
4                  10000219  ...           NaN
5                  10000248  ...           NaN
...                     ...  ...           ...
425642             16196755  ...           NaN
425644             16196755  ...           NaN
425648             16235461  ...           NaN
425649             16235461  ...           NaN
425650             16235461  ...           NaN

[322709 rows x 18 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 409939 entries, 0 to 425654
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Registration_number                         409939 non-null  int64
 1   Name_x                                      409939 non-null  object
 2   Type                                        409939 non-null  object
 3   Registered_for_VAT                          409939 non-null  object
 4   County                                      407549 non-null  object
 5   Business_area_by_EMTAK_system               406830 non-null  object
 6   All_taxes                                   331154 non-null  float64
 7   Labor_taxes                                 331154 non-null  float64
 8   Turnover                                    322709 non-null  float64
 9   number_of_employees                         260966 non-null  float64
 10  year_quarter                                409939 non-null  object
 11  Name_y                                      409939 non-null  object
 12  Business_area_by_EMTAK_system_letter        409939 non-null  object
 13  Business_are_by_EMTAK_system_number         409939 non-null  int64
 14  Institutional_classification                409939 non-null  object
 15  Client_identifyer_by_Estonian_Central_Bank  409939 non-null  int64
 16  Registration_date                           409939 non-null  object
 17  Deletion_date                               3086 non-null    object
dtypes: float64(4), int64(3), object(11)
memory usage: 59.4+ MB

In [ ]:
df['All_taxes'].dropna(inplace = True)

In [ ]:
df.dropna(subset=['All_taxes'], how='all', inplace=True)

In [ ]:
df.isnull().sum()

Registration_number                                0
Name_x                                             0
Type                                               0
Registered_for_VAT                                 0
County                                           636
Business_area_by_EMTAK_system                   2634
All_taxes                                          0
Labor_taxes                                        0
Turnover                                       59648
number_of_employees                            93558
year_quarter                                       0
Name_y                                             0
Business_area_by_EMTAK_system_letter               0
Business_are_by_EMTAK_system_number                0
Institutional_classification                       0
Client_identifyer_by_Estonian_Central_Bank         0
Registration_date                                  0
Deletion_date                                 328625
dtype: int64

In [ ]:
df.dropna(subset=['Turnover'], how='all', inplace=True)

In [ ]:
df.isnull().sum()

Registration_number                                0
Name_x                                             0
Type                                               0
Registered_for_VAT                                 0
County                                           576
Business_area_by_EMTAK_system                   2069
All_taxes                                          0
Labor_taxes                                        0
Turnover                                           0
number_of_employees                            84012
year_quarter                                       0
Name_y                                             0
Business_area_by_EMTAK_system_letter               0
Business_are_by_EMTAK_system_number                0
Institutional_classification                       0
Client_identifyer_by_Estonian_Central_Bank         0
Registration_date                                  0
Deletion_date                                 269176
dtype: int64

In [ ]:
df.to_csv('All_merged_2017_2021_cleaned.csv')