In [1]:
# import libraries
import pandas as pd
import glob
import os
import numpy as np

1. Read data from csv

In [2]:
os.chdir('./data/dataframes/')
df = pd.read_csv('all.csv')

In [3]:
df.head()

,Registration_number,Name_x,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,...,Deletion_date,cum_sum_turnover,cum_perc_turnover,combined_taxes,cum_sum_combined_taxes,revenue_growth,profit_per_employee,Birch_index,emp_growth_rate_CGR,ACE
0,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,Harju maakond,INFO JA SIDE,12126.74,11533.92,51486.75,9.0,...,1,51486.75,100.0,23660.66,23660.66,0.0,5720.75,0.0,0.0,0.0
1,10000127,"ARAVETE APTEEK, TÜ",Äriühing,jah,Järva maakond,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,6595.39,3983.36,106263.62,2.0,...,1,106263.62,100.0,10578.75,10578.75,0.0,53131.81,0.0,0.0,0.0
2,10000165,"KIVIÕLI KAUBAHOOV, AS",Äriühing,jah,Ida-Viru maakond,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,64705.68,39278.43,501856.24,33.0,...,1,501856.24,100.0,103984.11,103984.11,0.0,15207.76,0.0,0.0,0.0
3,10000219,"YEAR, AS",Äriühing,jah,Harju maakond,TÖÖTLEV TÖÖSTUS,21555.48,23840.41,90645.11,34.0,...,1,90645.11,100.0,45395.89,45395.89,0.0,2666.03,0.0,0.0,0.0
4,10000248,ITW CONSTRUCTION PRODUCTS OÜ,Äriühing,jah,Harju maakond,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,92882.60,22990.97,888253.22,5.0,...,1,888253.22,100.0,115873.57,115873.57,0.0,177650.64,0.0,0.0,0.0

In [4]:
df.groupby(by='Registration_number').head()

,Registration_number,Name_x,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,...,Deletion_date,cum_sum_turnover,cum_perc_turnover,combined_taxes,cum_sum_combined_taxes,revenue_growth,profit_per_employee,Birch_index,emp_growth_rate_CGR,ACE
0,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,Harju maakond,INFO JA SIDE,12126.74,11533.92,51486.75,9.0,...,1,51486.75,100.00,23660.66,23660.66,0.00,5720.75,0.0,0.000000,0.0
1,10000127,"ARAVETE APTEEK, TÜ",Äriühing,jah,Järva maakond,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,6595.39,3983.36,106263.62,2.0,...,1,106263.62,100.00,10578.75,10578.75,0.00,53131.81,0.0,0.000000,0.0
2,10000165,"KIVIÕLI KAUBAHOOV, AS",Äriühing,jah,Ida-Viru maakond,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,64705.68,39278.43,501856.24,33.0,...,1,501856.24,100.00,103984.11,103984.11,0.00,15207.76,0.0,0.000000,0.0
3,10000219,"YEAR, AS",Äriühing,jah,Harju maakond,TÖÖTLEV TÖÖSTUS,21555.48,23840.41,90645.11,34.0,...,1,90645.11,100.00,45395.89,45395.89,0.00,2666.03,0.0,0.000000,0.0
4,10000248,ITW CONSTRUCTION PRODUCTS OÜ,Äriühing,jah,Harju maakond,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,92882.60,22990.97,888253.22,5.0,...,1,888253.22,100.00,115873.57,115873.57,0.00,177650.64,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281776,16127903,EIPPA WSOPERATIONS OÜ,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,71488.78,76192.07,1221324.36,229.0,...,1,1222484.81,58.39,147680.85,160115.44,1051.46,5333.29,0.0,0.547249,279.0
281777,16127903,EIPPA WSOPERATIONS OÜ,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,261333.19,277445.91,871215.43,346.0,...,1,2093700.24,100.00,538779.10,698894.54,-0.29,2517.96,0.0,0.547249,279.0
281778,16196755,KMG OÜ,Äriühing,jah,Harju ( Tallinn ),EHITUS,315204.79,273426.19,5437446.59,197.0,...,1,5437446.59,23.92,588630.98,588630.98,0.00,27601.25,0.0,-0.002545,1.0
281779,16196755,KMG OÜ,Äriühing,jah,Harju ( Tallinn ),EHITUS,1084980.06,705252.97,17291141.71,196.0,...,1,22728588.30,100.00,1790233.03,2378864.01,2.18,88220.11,0.0,-0.002545,1.0
281780,16235461,OPERAIL REPAIRS OÜ,Äriühing,jah,Harju ( Tallinn ),TÖÖTLEV TÖÖSTUS,139789.85,69244.23,746247.48,81.0,...,1,746247.48,100.00,209034.08,209034.08,0.00,9212.93,0.0,0.000000,0.0

In [5]:
df.shape

(281781, 26)

In [6]:
df.nunique()

Registration_number                            88800
Name_x                                         89849
Type                                               1
Registered_for_VAT                                 2
County                                            95
Business_area_by_EMTAK_system                     24
All_taxes                                     196424
Labor_taxes                                   121231
Turnover                                      210208
number_of_employees                              480
year_quarter                                      19
Business_area_by_EMTAK_system_letter              19
Business_are_by_EMTAK_system_number              544
Institutional_classification                      10
Client_identifyer_by_Estonian_Central_Bank         9
Registration_date                               7474
Deletion_date                                      2
cum_sum_turnover                              227099
cum_perc_turnover                              10001
combined_taxes                                205230
cum_sum_combined_taxes                        231226
revenue_growth                                 10952
profit_per_employee                           207465
Birch_index                                        1
emp_growth_rate_CGR                             2356
ACE                                               88
dtype: int64

In [7]:
df.query('Registration_number == 10391131')

,Registration_number,Name_x,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,...,Deletion_date,cum_sum_turnover,cum_perc_turnover,combined_taxes,cum_sum_combined_taxes,revenue_growth,profit_per_employee,Birch_index,emp_growth_rate_CGR,ACE
9902,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,1426220.77,994053.02,8609633.24,265.0,...,1,8609633.24,63.52,2420273.79,2420273.79,0.00,32489.18,0.0,0.03005,25.0
9903,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,1550912.46,1195574.24,4944107.48,290.0,...,1,13553740.72,100.00,2746486.70,5166760.49,-0.43,17048.65,0.0,0.03005,25.0

In [8]:
df.query('Registration_number == 10364097')

,Registration_number,Name_x,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,...,Deletion_date,cum_sum_turnover,cum_perc_turnover,combined_taxes,cum_sum_combined_taxes,revenue_growth,profit_per_employee,Birch_index,emp_growth_rate_CGR,ACE
8847,10364097,"HELMES, AS",Äriühing,jah,Harju maakond,INFO JA SIDE,848140.81,704510.69,5694583.16,152.0,...,1,5694583.16,43.51,1552651.50,1552651.50,0.0,37464.36,0.0,0.002186,1.0
8848,10364097,"HELMES, AS",Äriühing,jah,Harju maakond,INFO JA SIDE,1330900.61,777375.57,7394108.34,153.0,...,1,13088691.50,100.00,2108276.18,3660927.68,0.3,48327.51,0.0,0.002186,1.0

In [9]:
df.query('Registration_number == 10000018')

# Amserv Auto AS - big company, doubtful if missing

Empty DataFrame
Columns: [Registration_number, Name_x, Type, Registered_for_VAT, County, Business_area_by_EMTAK_system, All_taxes, Labor_taxes, Turnover, number_of_employees, year_quarter, Business_area_by_EMTAK_system_letter, Business_are_by_EMTAK_system_number, Institutional_classification, Client_identifyer_by_Estonian_Central_Bank, Registration_date, Deletion_date, cum_sum_turnover, cum_perc_turnover, combined_taxes, cum_sum_combined_taxes, revenue_growth, profit_per_employee, Birch_index, emp_growth_rate_CGR, ACE]
Index: []

[0 rows x 26 columns]