In [2]:
# import libraries
import pandas as pd
import glob
import os
import numpy as np
os.chdir("./data/csv/")

# 1. Read and combine all csv files

In [3]:
# Read all csv filenames and combine a list of them
filenames =  [i for i in glob.glob('*.{}'.format('csv'))]
# Sort filenames in list to ensure dates are in order
filenames = sorted(filenames)

# Read first file as a reference table and format features
df = pd.read_csv(filenames[0])
year = str(filenames[0]).split("_")[2]
quarter = str(filenames[0]).split("_")[3].replace('iv', '4').replace('iii', '3').replace('ii', '2').replace('i','1')
df = df.rename(columns={    'All_taxes': 'All_taxes'+'_'+str(year)+'_'+str(quarter),\
                            'Labor_taxes': 'Labor_taxes'+'_'+str(year)+'_'+str(quarter), \
                            'Turnover': 'Turnover'+'_'+str(year)+'_'+str(quarter),\
                            'number_of_employees': 'number_of_employees'+'_'+str(year)+'_'+str(quarter)})
# Remove the loaded filename from files list
filenames.pop(0)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

'tasutud_maksud_2017_i_kv.csv'

In [4]:
print(df.shape)
df.head()

(121846, 10)

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes_2017_1,Labor_taxes_2017_1,Turnover_2017_1,number_of_employees_2017_1
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN
2,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN
3,1834411,"TOMP, GARAAŽIKOOPERATIIV",Äriühing,ei,Harju maakond,NaN,2285.00,0.0,NaN,NaN
4,1834517,GARAAŽIKOOPERATIIV NR 12,Äriühing,ei,Harju maakond,KINNISVARAALANE TEGEVUS,144.00,0.0,NaN,NaN

In [83]:
# Read all other csv files and add relevant data to the initial dataframe
#for i in range (1, len(filenames)):
for f in filenames:
    print(f)
    # Extract period information
    year = str(f).split("_")[2]
    quarter = str(f).split("_")[3].replace('iv', '4').replace('iii', '3').replace('ii', '2').replace('i','1')
    df_new = pd.read_csv(f)
    df_new_info = df_new.rename(columns={'Registrikood': 'Registration_number',\
                                        'All_taxes': 'All_taxes'+'_'+str(year)+'_'+str(quarter),\
                                        'Labor_taxes': 'Labor_taxes'+'_'+str(year)+'_'+str(quarter), \
                                        'Turnover': 'Turnover'+'_'+str(year)+'_'+str(quarter),\
                                        'number_of_employees': 'number_of_employees'+'_'+str(year)+'_'+str(quarter)})
    #df.merge(df_new, on='Registration_number')
    print(df_new_info.shape)
    df = pd.concat([df, df_new_info], axis=1)

tasutud_maksud_2017_ii_kv_05_07_2017.xlsx.csv
(119856, 11)
tasutud_maksud_2017_iii_kv_09.10.2017.xlsx.csv
(119751, 11)
tasutud_maksud_2017_iv_kv_10.01.2018.xlsx.csv
(124703, 11)
tasutud_maksud_2018_i_kvartal.xlsx.csv
(124591, 11)
tasutud_maksud_2018_ii_kvartal.xlsx.csv
(131414, 11)
tasutud_maksud_2018_iii_kvartal.xlsx.csv
(127356, 11)
tasutud_maksud_2018_iv_kvartal.xlsx.csv
(131839, 11)
tasutud_maksud_2019_i_kvartal.xlsx.csv
(131492, 11)
tasutud_maksud_2019_ii_kvartal.xlsx.csv
(138261, 11)
tasutud_maksud_2019_iii_kvartal.xlsx.csv
(133796, 11)
tasutud_maksud_2019_iv_kvartal.xlsx.csv
(138383, 11)
tasutud_maksud_2020_i_kvartal.xlsx.csv
(142890, 11)
tasutud_maksud_2020_ii_kvartal.xlsx.csv
(140502, 11)
tasutud_maksud_2020_iii_kvartal.xlsx.csv
(141711, 11)
tasutud_maksud_2020_iv_kvartal.xlsx.csv
(147626, 11)
tasutud_maksud_2021_i_kvartal.xlsx.csv
(152266, 11)
tasutud_maksud_2021_ii_kvartal.xlsx.csv
(145635, 11)
tasutud_maksud_2021_iii_kvartal.xlsx.csv
(147257, 11)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [84]:
print(df.shape)
df.head()

(152266, 208)

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes_2017_1,Labor_taxes_2017_1,Turnover_2017_1,number_of_employees_2017_1,...,Name,Type,Registered_for_VAT,Business_area_by_EMTAK_system,County,All_taxes_2021_3,Labor_taxes_2021_3,Turnover_2021_3,number_of_employees_2021_3,year_quarter
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,...,AMSERV AUTO AKTSIASELTS,Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,Harju ( Tallinn ),1375328.87,801558.09,21587224.27,191.0,2021_iii
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,...,"EESTI RAAMAT, OÜ",Äriühing,jah,INFO JA SIDE,Harju ( Tallinn ),26769.12,21439.10,144389.47,12.0,2021_iii
2,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,...,ALDO KOPPEL,FIE,jah,"PÕLLUMAJANDUS, METSAMAJANDUS JA KALAPÜÜK",Ida-Viru ( Lüganuse vald ),3981.87,0.00,27513.89,NaN,2021_iii
3,1834411,"TOMP, GARAAŽIKOOPERATIIV",Äriühing,ei,Harju maakond,NaN,2285.00,0.0,NaN,NaN,...,"ARAVETE APTEEK, TÜ",Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,Järva ( Järva vald ),7137.62,5784.00,158316.90,2.0,2021_iii
4,1834517,GARAAŽIKOOPERATIIV NR 12,Äriühing,ei,Harju maakond,KINNISVARAALANE TEGEVUS,144.00,0.0,NaN,NaN,...,"KIVIÕLI KAUBAHOOV, AS",Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,Ida-Viru ( Lüganuse vald ),216776.30,94754.24,1582858.28,39.0,2021_iii

In [5]:
f=filenames[0]
print(f)
# Extract period information
year = str(f).split("_")[2]
quarter = str(f).split("_")[3].replace('iv', '4').replace('iii', '3').replace('ii', '2').replace('i','1')
df_new = pd.read_csv(f)
df_new = df_new.rename(columns={'All_taxes': 'All_taxes'+'_'+str(year)+'_'+str(quarter),\
                                        'Labor_taxes': 'Labor_taxes'+'_'+str(year)+'_'+str(quarter), \
                                        'Turnover': 'Turnover'+'_'+str(year)+'_'+str(quarter),\
                                        'number_of_employees': 'number_of_employees'+'_'+str(year)+'_'+str(quarter)})
df_new.head()

tasutud_maksud_2017_ii_kv_05_07_2017.xlsx.csv

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Registration_number,Name,Type,Registered_for_VAT,Business_area_by_EMTAK_system,County,All_taxes_2017_2,Labor_taxes_2017_2,Turnover_2017_2,number_of_employees_2017_2,year_quarter
0,1834322,"KASEKE, GARAAŽIKOOPERATIIV",Äriühing,ei,NaN,Harju maakond,1355.00,0.00,NaN,NaN,2017_ii
1,1834552,"SEEBI-3, GARAAŽIKOOPERATIIV (LIKVIDEERIMISEL)",Äriühing,ei,NaN,Harju maakond,21.00,0.00,NaN,NaN,2017_ii
2,10000018,AMSERV AUTO AS,Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,Harju maakond,478729.57,505439.41,NaN,199.0,2017_ii
3,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,INFO JA SIDE,Harju maakond,8484.90,7931.42,59869.39,8.0,2017_ii
4,10000127,"ARAVETE APTEEK, TÜ",Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,Järva maakond,5881.07,2931.11,111968.64,2.0,2017_ii

In [6]:
df_new_info = pd.DataFrame(df_new.Registration_number, df_new.All_taxes_2017_2)
#df.merge(df_new, on='Registration_number')
print(df_new_info.shape)
df_new_info.head()

(119856, 1)

                 Registration_number
All_taxes_2017_2
1355.00                     10048605
21.00                       10000828
478729.57                        NaN
8484.90                          NaN
5881.07                          NaN

# 2. Read Excel file with company estimation and deletion dates