In [1]:
# import libraries
import pandas as pd
import glob
import os
import numpy as np

 1. Read and combine all csv files

In [2]:
os.chdir('./data/csv')
# Read all csv filenames and combine a list of them
filenames =  [i for i in glob.glob('*.{}'.format('csv'))]
# Sort filenames in list to ensure dates are in order
filenames = sorted(filenames)

# Read first file as a reference table and format features
df = pd.read_csv(filenames[0])
year = str(filenames[0]).split("_")[2]
quarter = str(filenames[0]).split("_")[3].replace('iv', '4').replace('iii', '3').replace('ii', '2').replace('i','1')
filenames.pop(0)
df['year_quarter'] = str(year)+"_"+str(quarter)
df['Registration_number'] = df['Registration_number'].astype(str)
#df['Registration_number'] = pd.to_numeric(df['Registration_number'])

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121846 entries, 0 to 121845
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Registration_number            121846 non-null  object
 1   Name                           121846 non-null  object
 2   Type                           121846 non-null  object
 3   Registered_for_VAT             121846 non-null  object
 4   County                         118774 non-null  object
 5   Business_area_by_EMTAK_system  117569 non-null  object
 6   All_taxes                      103243 non-null  float64
 7   Labor_taxes                    103243 non-null  float64
 8   Turnover                       84940 non-null   float64
 9   number_of_employees            81075 non-null   float64
 10  year_quarter                   121846 non-null  object
dtypes: float64(4), object(7)
memory usage: 10.2+ MB

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,2017_1
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,2017_1
2,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,2017_1
3,1834411,"TOMP, GARAAŽIKOOPERATIIV",Äriühing,ei,Harju maakond,NaN,2285.00,0.0,NaN,NaN,2017_1
4,1834517,GARAAŽIKOOPERATIIV NR 12,Äriühing,ei,Harju maakond,KINNISVARAALANE TEGEVUS,144.00,0.0,NaN,NaN,2017_1

In [4]:
# Read all other csv files and add relevant data to the initial dataframe
#for i in range (1, len(filenames)):
for f in filenames:
    print(f)
    # Extract period information
    year = str(f).split("_")[2]
    quarter = str(f).split("_")[3].replace('iv', '4').replace('iii', '3').replace('ii', '2').replace('i','1')
    df_new = pd.read_csv(f)
    #df_new = df_new.rename(columns={'Registrikood': 'Registration_number',\
    #                                    'All_taxes': 'All_taxes'+'_'+str(year)+'_'+str(quarter),\
    #                                    'Labor_taxes': 'Labor_taxes'+'_'+str(year)+'_'+str(quarter), \
    #                                    'Turnover': 'Turnover'+'_'+str(year)+'_'+str(quarter),\
    #                                    'number_of_employees': 'number_of_employees'+'_'+str(year)+'_'+str(quarter)})
    # Loose columns that are redundant (repeating)
    #df_new.drop(df_new.columns[[1,2,3,4,5]], axis = 1, inplace = True)
    #df_new = df_new.iloc[: , :-1]
    #df['Registration_number'] = df['Registration_number'].astype(str)
    df['year_quarter'] = str(year)+"_"+str(quarter)
    df_new['Registration_number'] = df_new['Registration_number'].astype(str)
    #df_new['Registration_number'] = pd.to_numeric(df_new['Registration_number'])
    df.reset_index(drop=True)
    #df.applymap(type)
    #df_new.applymap(type)
    #df = pd.merge(left= df, right=df_new, how='outer', left_on= 'Registration_number', right_on='Registration_number')
    #df.set_index('Registration_number').join(df_new.set_index('Registration_number'))
    df = pd.concat([df, df_new])

tasutud_maksud_2017_ii_kv_05_07_2017.xlsx.csv

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

tasutud_maksud_2017_iii_kv_09.10.2017.xlsx.csv
tasutud_maksud_2017_iv_kv_10.01.2018.xlsx.csv
tasutud_maksud_2018_i_kvartal.xlsx.csv
tasutud_maksud_2018_ii_kvartal.xlsx.csv
tasutud_maksud_2018_iii_kvartal.xlsx.csv
tasutud_maksud_2018_iv_kvartal.xlsx.csv
tasutud_maksud_2019_i_kvartal.xlsx.csv
tasutud_maksud_2019_ii_kvartal.xlsx.csv
tasutud_maksud_2019_iii_kvartal.xlsx.csv
tasutud_maksud_2019_iv_kvartal.xlsx.csv
tasutud_maksud_2020_i_kvartal.xlsx.csv
tasutud_maksud_2020_ii_kvartal.xlsx.csv
tasutud_maksud_2020_iii_kvartal.xlsx.csv
tasutud_maksud_2020_iv_kvartal.xlsx.csv
tasutud_maksud_2021_i_kvartal.xlsx.csv
tasutud_maksud_2021_ii_kvartal.xlsx.csv
tasutud_maksud_2021_iii_kvartal.xlsx.csv

In [5]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2561175 entries, 0 to 147256
Data columns (total 11 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Registration_number            object
 1   Name                           object
 2   Type                           object
 3   Registered_for_VAT             object
 4   County                         object
 5   Business_area_by_EMTAK_system  object
 6   All_taxes                      float64
 7   Labor_taxes                    float64
 8   Turnover                       float64
 9   number_of_employees            float64
 10  year_quarter                   object
dtypes: float64(4), object(7)
memory usage: 234.5+ MB

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,2021_3
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,2021_3
2,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,2021_3
3,1834411,"TOMP, GARAAŽIKOOPERATIIV",Äriühing,ei,Harju maakond,NaN,2285.00,0.0,NaN,NaN,2021_3
4,1834517,GARAAŽIKOOPERATIIV NR 12,Äriühing,ei,Harju maakond,KINNISVARAALANE TEGEVUS,144.00,0.0,NaN,NaN,2021_3

2. Read data from Statistics Estonia provided Excel peradsheets and combine with our database

In [8]:
os.getcwd()

'/Users/peeter/Documents/Isiklik/Pets/Koolimaterjalid/Tartu Ülikool/Machine Learning/_project/ML21_Project_MFGC/data/csv'

In [9]:
os.chdir('..')
os.chdir('..')
os.chdir('./data/stat')
#os.chdir('./data/stat/')

# Read all csv filenames and combine a list of them
filenames =  [i for i in glob.glob('*.{}'.format('xlsx'))]
# Sort filenames in list in reverse order to ensure dates are in order and newer data gets used first
filenames.sort(reverse=True)
filenames

['Üksuste nimekiri 01.12.2020_revid.4.10.2021.xlsx',
 'yksuste_nimekiri_01.12.2019_revid.23.01.20.xlsx',
 'yksuste_nimekiri_01.12.2018_revid_28.1.19.xlsx']

In [10]:
# Read first file as a reference table and format features
df_stat = pd.read_excel(filenames[0])
df_stat = df_stat.rename(columns={  'Registrikood': 'Registration_number',\
                                    'Nimi': 'Name', \
                                    'EMTAK2008 Tähtkoodiga valdkond': 'EMTAK_by_letter',\
                                    'EMTAK2008 4-kohaline kood': 'EMTAK_by_number',\
                                    'Institutsionaalsete sektorite Eesti jaoks kohandatud klassifikaator 2010': 'Institutional_classification' ,\
                                    'Kliendi/emitendi identifikaator (vastavalt Eesti Panga presidendi 29. mai määrusele nr 7)': 'Client_ID_by_Eesti_Pank',\
                                    'Üksuse registreerimise kuupäev': 'Registration_date',\
                                    'Üksuse registrist kustutamise kuupäev' : 'Deletion_Date'})

# Remove the loaded filename from files list
filenames.pop(0)
df_stat = df_stat.iloc[: , :-1]
df_stat['Registration_number'] = df_stat['Registration_number'].astype(str)

In [11]:
df_stat.info()
df_stat.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206324 entries, 0 to 206323
Data columns (total 8 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Registration_number           206324 non-null  object
 1   Name                          206324 non-null  object
 2   EMTAK_by_letter               206324 non-null  object
 3   EMTAK_by_number               206324 non-null  int64
 4   Institutional_classification  206324 non-null  object
 5   Client_ID_by_Eesti_Pank       206324 non-null  int64
 6   Registration_date             206324 non-null  datetime64[ns]
 7   Deletion_Date                 1810 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 12.6+ MB

,Registration_number,Name,EMTAK_by_letter,EMTAK_by_number,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date
0,10000018,Amserv Auto AS,G,4511,S11002-S11003,8,1994-08-23,NaT
1,10000024,"Eesti Raamat, OÜ",J,5811,S11002-S11003,8,1990-07-17,NaT
2,10000127,Aravete Apteek TÜ,G,4773,S11002-S11003,8,1995-09-27,NaT
3,10000165,"Kiviõli Kaubahoov, AS",G,4719,S11002-S11003,8,1993-04-21,NaT
4,10000219,Year AS,C,1413,S11002-S11003,8,1995-09-28,NaT

In [98]:
# Add other statistical data, only that is missing from previous
for f in filenames:
    print(f)
    df_stat_new = pd.read_excel(f)
    df_stat_new = df_stat_new.rename(columns={  'Registrikood': 'Registration_number',\
                                                'Nimi': 'Name', \
                                                'EMTAK2008 Tähtkoodiga valdkond': 'EMTAK_by_letter',\
                                                'EMTAK2008 4-kohaline kood': 'EMTAK_by_number',\
                                                'Institutsionaalsete sektorite Eesti jaoks kohandatud klassifikaator 2010': 'Institutional_classification' ,\
                                                'Kliendi/emitendi identifikaator (vastavalt Eesti Panga presidendi 29. mai määrusele nr 7)': 'Client_ID_by_Eesti_Pank',\
                                                'Üksuse registreerimise kuupäev': 'Registration_date',\
                                                'Üksuse registrist kustutamise kuupäev' : 'Deletion_Date'})
    df_stat_new['Registration_number'] = df_stat_new['Registration_number'].astype(str)
    df_stat = pd.concat([df_stat, df_stat_new], axis=0)

# Dropping duplicate entries
df_stat = df_stat.drop_duplicates(subset=['Registration_number'])
df_stat.reset_index(drop=True)
df_stat.head()

yksuste_nimekiri_01.12.2019_revid.23.01.20.xlsx
yksuste_nimekiri_01.12.2018_revid_28.1.19.xlsx

,Registration_number,Name,EMTAK_by_letter,EMTAK_by_number,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date
0,10000018,Amserv Auto AS,G,4511,S11002-S11003,8,1994-08-23,NaT
1,10000024,"Eesti Raamat, OÜ",J,5811,S11002-S11003,8,1990-07-17,NaT
2,10000127,Aravete Apteek TÜ,G,4773,S11002-S11003,8,1995-09-27,NaT
3,10000165,"Kiviõli Kaubahoov, AS",G,4719,S11002-S11003,8,1993-04-21,NaT
4,10000219,Year AS,C,1413,S11002-S11003,8,1995-09-28,NaT

In [12]:
# Combining 2 datasets into one large
# Loose name column
df_stat.drop(df_stat.columns[[1]], axis = 1, inplace = True)

df_merged = pd.merge(left= df, right=df_stat, how='outer', left_on= 'Registration_number', right_on='Registration_number')
df_merged.head()

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter,EMTAK_by_letter,EMTAK_by_number,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,2021_3,NaN,NaN,NaN,NaN,NaT,NaT
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,2021_3,NaN,NaN,NaN,NaN,NaT,NaT
2,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,180.75,0.0,NaN,NaN,2021_3,NaN,NaN,NaN,NaN,NaT,NaT
3,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,180.75,0.0,NaN,NaN,2021_3,NaN,NaN,NaN,NaN,NaT,NaT
4,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,2021_3,NaN,NaN,NaN,NaN,NaT,NaT

In [13]:
df_merged.info()
df_merged.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2619056 entries, 0 to 2619055
Data columns (total 17 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Registration_number            object
 1   Name                           object
 2   Type                           object
 3   Registered_for_VAT             object
 4   County                         object
 5   Business_area_by_EMTAK_system  object
 6   All_taxes                      float64
 7   Labor_taxes                    float64
 8   Turnover                       float64
 9   number_of_employees            float64
 10  year_quarter                   object
 11  EMTAK_by_letter                object
 12  EMTAK_by_number                float64
 13  Institutional_classification   object
 14  Client_ID_by_Eesti_Pank        float64
 15  Registration_date              datetime64[ns]
 16  Deletion_Date                  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(9)
memory usage: 359.7+ MB

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter,EMTAK_by_letter,EMTAK_by_number,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,2021_3,NaN,NaN,NaN,NaN,NaT,NaT
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,2021_3,NaN,NaN,NaN,NaN,NaT,NaT
2,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,180.75,0.0,NaN,NaN,2021_3,NaN,NaN,NaN,NaN,NaT,NaT
3,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,180.75,0.0,NaN,NaN,2021_3,NaN,NaN,NaN,NaN,NaT,NaT
4,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,2021_3,NaN,NaN,NaN,NaN,NaT,NaT

In [14]:
# Save acquired data into a csv
# os.chdir('./data/dataframes/')
df_merged.to_csv( "full_period.csv", index=False)

In [15]:
df_merged.shape

(2619056, 17)