In [1]:
# import libraries
import pandas as pd
import glob
import os
import numpy as np

# 1. Read and combine all csv files

In [2]:
os.chdir('./data/csv')
# Read all csv filenames and combine a list of them
filenames =  [i for i in glob.glob('*.{}'.format('csv'))]
# Sort filenames in list to ensure dates are in order
filenames = sorted(filenames)

# Read first file as a reference table and format features
df = pd.read_csv(filenames[0])
year = str(filenames[0]).split("_")[2]
quarter = str(filenames[0]).split("_")[3].replace('iv', '4').replace('iii', '3').replace('ii', '2').replace('i','1')
filenames.pop(0)
df['year_quarter'] = str(year)+"_"+str(quarter)
df['Registration_number'] = df['Registration_number'].astype(str)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121846 entries, 0 to 121845
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Registration_number            121846 non-null  object
 1   Name                           121846 non-null  object
 2   Type                           121846 non-null  object
 3   Registered_for_VAT             121846 non-null  object
 4   County                         118774 non-null  object
 5   Business_area_by_EMTAK_system  117569 non-null  object
 6   All_taxes                      103243 non-null  float64
 7   Labor_taxes                    103243 non-null  float64
 8   Turnover                       84940 non-null   float64
 9   number_of_employees            81075 non-null   float64
 10  year_quarter                   121846 non-null  object
dtypes: float64(4), object(7)
memory usage: 10.2+ MB

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,2017_1
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,2017_1
2,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,2017_1
3,1834411,"TOMP, GARAAŽIKOOPERATIIV",Äriühing,ei,Harju maakond,NaN,2285.00,0.0,NaN,NaN,2017_1
4,1834517,GARAAŽIKOOPERATIIV NR 12,Äriühing,ei,Harju maakond,KINNISVARAALANE TEGEVUS,144.00,0.0,NaN,NaN,2017_1

In [4]:
# Read all other csv files and add relevant data to the initial dataframe
#for i in range (1, len(filenames)):
for f in filenames:
    print(f)
    # Extract period information
    year = str(f).split("_")[2]
    quarter = str(f).split("_")[3].replace('iv', '4').replace('iii', '3').replace('ii', '2').replace('i','1')
    df_new = pd.read_csv(f)
    df_new['year_quarter'] = str(year)+"_"+str(quarter)
    df_new['Registration_number'] = df_new['Registration_number'].astype(str)
    df.reset_index(drop=True)
    df = pd.concat([df, df_new])

tasutud_maksud_2017_ii_kv_05_07_2017.xlsx.csv

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

tasutud_maksud_2017_iii_kv_09.10.2017.xlsx.csv
tasutud_maksud_2017_iv_kv_10.01.2018.xlsx.csv
tasutud_maksud_2018_i_kvartal.xlsx.csv
tasutud_maksud_2018_ii_kvartal.xlsx.csv
tasutud_maksud_2018_iii_kvartal.xlsx.csv
tasutud_maksud_2018_iv_kvartal.xlsx.csv
tasutud_maksud_2019_i_kvartal.xlsx.csv
tasutud_maksud_2019_ii_kvartal.xlsx.csv
tasutud_maksud_2019_iii_kvartal.xlsx.csv
tasutud_maksud_2019_iv_kvartal.xlsx.csv
tasutud_maksud_2020_i_kvartal.xlsx.csv
tasutud_maksud_2020_ii_kvartal.xlsx.csv
tasutud_maksud_2020_iii_kvartal.xlsx.csv
tasutud_maksud_2020_iv_kvartal.xlsx.csv
tasutud_maksud_2021_i_kvartal.xlsx.csv
tasutud_maksud_2021_ii_kvartal.xlsx.csv
tasutud_maksud_2021_iii_kvartal.xlsx.csv

In [5]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2561175 entries, 0 to 147256
Data columns (total 11 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Registration_number            object
 1   Name                           object
 2   Type                           object
 3   Registered_for_VAT             object
 4   County                         object
 5   Business_area_by_EMTAK_system  object
 6   All_taxes                      float64
 7   Labor_taxes                    float64
 8   Turnover                       float64
 9   number_of_employees            float64
 10  year_quarter                   object
dtypes: float64(4), object(7)
memory usage: 234.5+ MB

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,2017_1
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,2017_1
2,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,2017_1
3,1834411,"TOMP, GARAAŽIKOOPERATIIV",Äriühing,ei,Harju maakond,NaN,2285.00,0.0,NaN,NaN,2017_1
4,1834517,GARAAŽIKOOPERATIIV NR 12,Äriühing,ei,Harju maakond,KINNISVARAALANE TEGEVUS,144.00,0.0,NaN,NaN,2017_1

2. Read data from Statistics Estonia provided Excel peradsheets and combine with our database

In [6]:
os.chdir('..')
os.chdir('..')
os.chdir('./data/stat')

# Read all csv filenames and combine a list of them
filenames =  [i for i in glob.glob('*.{}'.format('xlsx'))]
# Sort filenames in list in reverse order to ensure dates are in order and newer data gets used first
filenames.sort(reverse=True)
filenames

['Üksuste nimekiri 01.12.2020_revid.4.10.2021.xlsx',
 'yksuste_nimekiri_01.12.2019_revid.23.01.20.xlsx',
 'yksuste_nimekiri_01.12.2018_revid_28.1.19.xlsx']

In [7]:
# Read first file as a reference table and format features
df_stat = pd.read_excel(filenames[0])
df_stat = df_stat.rename(columns={  'Registrikood': 'Registration_number',\
                                    'Nimi': 'Name', \
                                    'EMTAK2008 Tähtkoodiga valdkond': 'EMTAK_by_letter',\
                                    'EMTAK2008 4-kohaline kood': 'EMTAK_by_number',\
                                    'Institutsionaalsete sektorite Eesti jaoks kohandatud klassifikaator 2010': 'Institutional_classification' ,\
                                    'Kliendi/emitendi identifikaator (vastavalt Eesti Panga presidendi 29. mai määrusele nr 7)': 'Client_ID_by_Eesti_Pank',\
                                    'Üksuse registreerimise kuupäev': 'Registration_date',\
                                    'Üksuse registrist kustutamise kuupäev' : 'Deletion_Date'})

# Remove the loaded filename from files list
filenames.pop(0)
df_stat = df_stat.iloc[: , :-1]
df_stat['Registration_number'] = df_stat['Registration_number'].astype(str)

In [8]:
df_stat.info()
df_stat.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206324 entries, 0 to 206323
Data columns (total 8 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Registration_number           206324 non-null  object
 1   Name                          206324 non-null  object
 2   EMTAK_by_letter               206324 non-null  object
 3   EMTAK_by_number               206324 non-null  int64
 4   Institutional_classification  206324 non-null  object
 5   Client_ID_by_Eesti_Pank       206324 non-null  int64
 6   Registration_date             206324 non-null  datetime64[ns]
 7   Deletion_Date                 1810 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 12.6+ MB

,Registration_number,Name,EMTAK_by_letter,EMTAK_by_number,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date
0,10000018,Amserv Auto AS,G,4511,S11002-S11003,8,1994-08-23,NaT
1,10000024,"Eesti Raamat, OÜ",J,5811,S11002-S11003,8,1990-07-17,NaT
2,10000127,Aravete Apteek TÜ,G,4773,S11002-S11003,8,1995-09-27,NaT
3,10000165,"Kiviõli Kaubahoov, AS",G,4719,S11002-S11003,8,1993-04-21,NaT
4,10000219,Year AS,C,1413,S11002-S11003,8,1995-09-28,NaT

In [9]:
# Add other statistical data, only that is missing from previous
for f in filenames:
    print(f)
    df_stat_new = pd.read_excel(f)
    df_stat_new = df_stat_new.rename(columns={  'Registrikood': 'Registration_number',\
                                                'Nimi': 'Name', \
                                                'EMTAK2008 Tähtkoodiga valdkond': 'EMTAK_by_letter',\
                                                'EMTAK2008 4-kohaline kood': 'EMTAK_by_number',\
                                                'Institutsionaalsete sektorite Eesti jaoks kohandatud klassifikaator 2010': 'Institutional_classification' ,\
                                                'Kliendi/emitendi identifikaator (vastavalt Eesti Panga presidendi 29. mai määrusele nr 7)': 'Client_ID_by_Eesti_Pank',\
                                                'Üksuse registreerimise kuupäev': 'Registration_date',\
                                                'Üksuse registrist kustutamise kuupäev' : 'Deletion_Date'})
    df_stat_new['Registration_number'] = df_stat_new['Registration_number'].astype(str)
    df_stat = pd.concat([df_stat, df_stat_new], axis=0)

# Dropping duplicate entries
df_stat = df_stat.drop_duplicates(subset=['Registration_number'])
df_stat.reset_index(drop=True)
df_stat.head()

yksuste_nimekiri_01.12.2019_revid.23.01.20.xlsx
yksuste_nimekiri_01.12.2018_revid_28.1.19.xlsx

,Registration_number,Name,EMTAK_by_letter,EMTAK_by_number,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date
0,10000018,Amserv Auto AS,G,4511,S11002-S11003,8,1994-08-23,NaT
1,10000024,"Eesti Raamat, OÜ",J,5811,S11002-S11003,8,1990-07-17,NaT
2,10000127,Aravete Apteek TÜ,G,4773,S11002-S11003,8,1995-09-27,NaT
3,10000165,"Kiviõli Kaubahoov, AS",G,4719,S11002-S11003,8,1993-04-21,NaT
4,10000219,Year AS,C,1413,S11002-S11003,8,1995-09-28,NaT

In [10]:
#df.reset_index(drop=True)
#df_stat.reset_index(drop=True)

In [11]:
# Combining 2 datasets into one large
# Loose name column
df_stat.drop(df_stat.columns[[1]], axis = 1, inplace = True)

df_merged = pd.merge(left= df, right=df_stat, how='outer', left_on= 'Registration_number', right_on='Registration_number')
df_merged.head()

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter,EMTAK_by_letter,EMTAK_by_number,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,2017_1,NaN,NaN,NaN,NaN,NaT,NaT
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,2017_1,NaN,NaN,NaN,NaN,NaT,NaT
2,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,180.75,0.0,NaN,NaN,2017_4,NaN,NaN,NaN,NaN,NaT,NaT
3,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,180.75,0.0,NaN,NaN,2018_4,NaN,NaN,NaN,NaN,NaT,NaT
4,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,2017_1,NaN,NaN,NaN,NaN,NaT,NaT

In [12]:
df_merged.info()
df_merged.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2638209 entries, 0 to 2638208
Data columns (total 17 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Registration_number            object
 1   Name                           object
 2   Type                           object
 3   Registered_for_VAT             object
 4   County                         object
 5   Business_area_by_EMTAK_system  object
 6   All_taxes                      float64
 7   Labor_taxes                    float64
 8   Turnover                       float64
 9   number_of_employees            float64
 10  year_quarter                   object
 11  EMTAK_by_letter                object
 12  EMTAK_by_number                float64
 13  Institutional_classification   object
 14  Client_ID_by_Eesti_Pank        float64
 15  Registration_date              datetime64[ns]
 16  Deletion_Date                  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(9)
memory usage: 362.3+ MB

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter,EMTAK_by_letter,EMTAK_by_number,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,2017_1,NaN,NaN,NaN,NaN,NaT,NaT
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,2017_1,NaN,NaN,NaN,NaN,NaT,NaT
2,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,180.75,0.0,NaN,NaN,2017_4,NaN,NaN,NaN,NaN,NaT,NaT
3,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,180.75,0.0,NaN,NaN,2018_4,NaN,NaN,NaN,NaN,NaT,NaT
4,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,2017_1,NaN,NaN,NaN,NaN,NaT,NaT

In [13]:
df_merged.shape
#df_merged.tail()

(2638209, 17)

# Period-wise
We have considered 3 different time-frames for testing our model:
- before COVID-19 (2017 ... 1st quarter of 2020)
- during COVID-19 (2nd quarter of 2020 ... 3rd quarter 2021)
- the whole period

The idea is to see weather and how COVID-19 pandemic has affected different companies. Therefore we create 2 additional datasets

In [14]:
df_merged.nunique()

Registration_number               285326
Name                              229282
Type                                   7
Registered_for_VAT                     2
County                                95
Business_area_by_EMTAK_system         27
All_taxes                         879444
Labor_taxes                       652413
Turnover                         1120193
number_of_employees                 1427
year_quarter                          19
EMTAK_by_letter                       20
EMTAK_by_number                      575
Institutional_classification          13
Client_ID_by_Eesti_Pank               12
Registration_date                   8106
Deletion_Date                        757
dtype: int64

In [15]:
df_merged['year_quarter'].unique().tolist()

['2017_1',
 '2017_4',
 '2018_4',
 '2018_1',
 '2017_2',
 '2017_3',
 '2018_2',
 '2018_3',
 '2019_1',
 '2019_2',
 '2019_3',
 '2019_4',
 '2020_1',
 '2020_2',
 '2020_3',
 '2020_4',
 '2021_1',
 '2021_2',
 '2021_3',
 nan]

In [16]:
# Preliminary filtering - all companies that did not have data from taxes datasets will be discarded

df_merged = df_merged[df_merged['year_quarter'].notna()]

In [17]:
print(df_merged.shape)
df_merged['year_quarter'].unique().tolist()

(2561175, 17)

['2017_1',
 '2017_4',
 '2018_4',
 '2018_1',
 '2017_2',
 '2017_3',
 '2018_2',
 '2018_3',
 '2019_1',
 '2019_2',
 '2019_3',
 '2019_4',
 '2020_1',
 '2020_2',
 '2020_3',
 '2020_4',
 '2021_1',
 '2021_2',
 '2021_3']

In [18]:
# Save acquired data into a csv

os.chdir('..')
os.chdir('..')
os.chdir('./data/dataframes/')
df_merged.to_csv( "full_period.csv", index=False)

In [19]:
# Filter out data that is after 1st quarter of 2020

df_before = df_merged.copy(deep=True)

In [20]:
df_before = df_before.loc[df_before.apply(lambda x: x.year_quarter in ['2017_1', '2017_2', '2017_3', '2017_4', '2018_1', '2018_2', '2018_3', '2018_4', '2019_1', '2019_2', '2019_3', '2019_4', '2020_1'], axis=1)]

In [21]:
df_before.head()

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter,EMTAK_by_letter,EMTAK_by_number,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,2017_1,NaN,NaN,NaN,NaN,NaT,NaT
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,2017_1,NaN,NaN,NaN,NaN,NaT,NaT
2,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,180.75,0.0,NaN,NaN,2017_4,NaN,NaN,NaN,NaN,NaT,NaT
3,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,180.75,0.0,NaN,NaN,2018_4,NaN,NaN,NaN,NaN,NaT,NaT
4,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,2017_1,NaN,NaN,NaN,NaN,NaT,NaT

In [22]:
df_before.shape

(1686178, 17)

In [23]:
# Save acquired data into a csv

df_before.to_csv( "before_covid.csv", index=False)

In [24]:
# Filter out data that is since 2nd quarter of 2020

df_during = df_merged.copy(deep=True)

In [25]:
df_during = df_during.loc[df_during.apply(lambda x: x.year_quarter in ['2020_2', '2020_3', '2020_4', '2021_1', '2021_2', '2021_3'], axis=1)]

In [26]:
df_during.head()

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter,EMTAK_by_letter,EMTAK_by_number,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date
25,10000018,AMSERV AUTO AKTSIASELTS,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,442031.59,486076.80,NaN,197.0,2020_2,G,4511.0,S11002-S11003,8.0,1994-08-23,NaT
26,10000018,AMSERV AUTO AKTSIASELTS,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,554243.93,561984.36,NaN,200.0,2020_3,G,4511.0,S11002-S11003,8.0,1994-08-23,NaT
27,10000018,AMSERV AUTO AKTSIASELTS,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,683022.46,673574.41,NaN,198.0,2020_4,G,4511.0,S11002-S11003,8.0,1994-08-23,NaT
28,10000018,AMSERV AUTO AKTSIASELTS,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,623668.80,660453.42,NaN,200.0,2021_1,G,4511.0,S11002-S11003,8.0,1994-08-23,NaT
29,10000018,AMSERV AUTO AKTSIASELTS,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,1134805.23,736604.35,19142710.36,200.0,2021_2,G,4511.0,S11002-S11003,8.0,1994-08-23,NaT

In [27]:
df_during.shape

(874997, 17)

In [28]:
# Save acquired data into a csv

df_during.to_csv( "during_covid.csv", index=False)