# Feature Engineering continuing

In [1]:
# Import libraries
import pandas as pd
from numpy import log as ln
import matplotlib.pyplot as plt
from numpy import inf

In [2]:
# Load data

df_cleaned = pd.read_csv('./data/dataframes/full_period_enginered.csv')
df_cleaned.head()

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,...,Institutional_classification,Client_ID_by_Eesti_Pank,Registration_date,Deletion_Date,cum_sum_turnover,cum_perc_turnover,combined_taxes,cum_sum_combined_taxes,revenue_growth,profit_per_employee
0,10257616,"PEX TALLA, OÜ",Äriühing,jah,Harju maakond,TÖÖTLEV TÖÖSTUS,24830.48,15559.13,149408.76,8.0,...,S11002-S11003,8.0,1997-09-01,1,149408.76,7.06,40389.61,40389.61,0.0,18676.10
1,12994847,MAD & WONDERFUL OÜ,Äriühing,jah,Tartu maakond,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,5.87,0.00,163.51,1.0,...,S11002-S11003,8.0,2016-02-12,1,163.51,0.06,5.87,5.87,0.0,163.51
2,11152753,DZORDZIA OÜ,Äriühing,jah,Harju maakond,VEONDUS JA LAONDUS,6534.79,3163.41,116510.14,5.0,...,S11002-S11003,8.0,2005-07-14,1,116510.14,8.25,9698.20,9698.20,0.0,23302.03
3,12994862,O KAKS SERVICE OÜ,Äriühing,jah,Harju maakond,EHITUS,2821.08,899.37,21054.69,5.0,...,S11002-S11003,8.0,2016-02-12,1,21054.69,1.08,3720.45,3720.45,0.0,4210.94
4,12994879,TERKEN OÜ,Äriühing,jah,Lääne maakond,MAJUTUS JA TOITLUSTUS,1324.33,613.10,6251.00,1.0,...,S11002-S11003,8.0,2016-02-12,1,6251.00,5.81,1937.43,1937.43,0.0,6251.00

In [3]:
# Define function

def add_label_feat(g):
    ex_df = pd.DataFrame(g).reset_index()
    #print(ex_df)
    E_beg = list(ex_df['number_of_employees'])[0]
    E_end = list(ex_df['number_of_employees'])[-1]
    try:
        Birch_index = (E_end-E_end)*(E_end/E_beg)
    except:
        Birch_index = 0
    ex_df['Birch_index'] = Birch_index

    #print(ex_df['year_quarter'])

    st_year = int(list(ex_df['year_quarter'])[0].split("_")[0])
    st_year

    #print(list(ex_df['year_quarter']))
    st_quarter = int(list(ex_df['year_quarter'])[0].split("_")[1])
    #st_quarter = get_int_quarter(st_quarter)
    st_quarter

    en_year = int(list(ex_df['year_quarter'])[-1].split("_")[0])
    en_year


    en_quarter = int(list(ex_df['year_quarter'])[-1].split("_")[1])
    #en_quarter = get_int_quarter(en_quarter)
    en_quarter

    dur_q =(4 - (st_quarter - 1)) + (((en_year-st_year) - 1) *4) + en_quarter


    # employment_growth_rate
    emp_growth_rate_CGR = (ln(E_end) - ln(E_beg))/dur_q
    ex_df['emp_growth_rate_CGR'] = emp_growth_rate_CGR

    # absolute change in the number of employees
    ACE = abs(E_end - E_beg)
    ex_df['ACE'] = ACE


    return ex_df

In [4]:
df_cleaned = df_cleaned.groupby("Registration_number").apply(add_label_feat).reset_index(drop=True)
df_cleaned

,index,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,...,Deletion_Date,cum_sum_turnover,cum_perc_turnover,combined_taxes,cum_sum_combined_taxes,revenue_growth,profit_per_employee,Birch_index,emp_growth_rate_CGR,ACE
0,1489297,10000018,AMSERV AUTO AKTSIASELTS,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,1134805.23,736604.35,1.914271e+07,...,1,19142710.36,47.00,1871409.58,1871409.58,0.00,95713.55,0.0,-0.023022,9.0
1,1630559,10000018,AMSERV AUTO AKTSIASELTS,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,1375328.87,801558.09,2.158722e+07,...,1,40729934.63,100.00,2176886.96,4048296.54,0.13,113022.12,0.0,-0.023022,9.0
2,62702,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,Harju maakond,INFO JA SIDE,12126.74,11533.92,5.148675e+04,...,1,51486.75,2.74,23660.66,23660.66,0.00,5720.75,0.0,0.015141,3.0
3,158029,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,Harju maakond,INFO JA SIDE,8484.90,7931.42,5.986939e+04,...,1,111356.14,5.92,16416.32,40076.98,0.16,7483.67,0.0,0.015141,3.0
4,227650,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,Harju maakond,INFO JA SIDE,10468.75,10068.65,5.589557e+04,...,1,167251.71,8.89,20537.40,60614.38,-0.07,6986.95,0.0,0.015141,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675249,1587669,16310180,CLEANIN OÜ,Äriühing,jah,Harju ( Tallinn ),KINNISVARAALANE TEGEVUS,0.10,0.10,1.000000e-06,...,1,0.00,0.00,0.20,0.20,0.00,0.00,0.0,0.000000,0.0
1675250,1587867,16313623,KEME OÜ,Äriühing,jah,Harju ( Tallinn ),HALDUS- JA ABITEGEVUSED,0.10,0.10,1.000000e-06,...,1,0.00,0.00,0.20,0.20,0.00,0.00,0.0,0.000000,0.0
1675251,1587807,16315987,KIRIZA OÜ,Äriühing,jah,Harju ( Tallinn ),HALDUS- JA ABITEGEVUSED,0.10,0.10,1.000000e-06,...,1,0.00,0.00,0.20,0.20,0.00,0.00,0.0,0.000000,0.0
1675252,1587528,16318098,OÜ LEIDLUS,Äriühing,jah,Järva ( Paide linn ),"KUTSE-, TEADUS- JA TEHNIKAALANE TEGEVUS",0.10,0.10,1.000000e-06,...,1,0.00,0.00,0.20,0.20,0.00,0.00,0.0,0.000000,0.0
1675253,1592170,90015407,EESTI PUNASE RISTI TAASKASUTUSKESKUS SA,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,1000.92,1046.52,1.000000e-06,...,1,0.00,0.00,2047.44,2047.44,0.00,0.00,0.0,0.000000,0.0

In [5]:
df_cleaned.nunique()

index                            1675254
Registration_number               124606
Name                              132693
Type                                   1
Registered_for_VAT                     2
County                                95
Business_area_by_EMTAK_system         26
All_taxes                         825778
Labor_taxes                       573584
Turnover                         1064348
number_of_employees                 1153
year_quarter                          19
EMTAK_by_letter                       19
EMTAK_by_number                      552
Institutional_classification          10
Client_ID_by_Eesti_Pank                9
Registration_date                   7853
Deletion_Date                          2
cum_sum_turnover                 1330152
cum_perc_turnover                  10001
combined_taxes                    884782
cum_sum_combined_taxes           1354549
revenue_growth                     48165
profit_per_employee               986293
Birch_index                            1
emp_growth_rate_CGR                 4752
ACE                                  207
dtype: int64

In [6]:
# Correcting indexes

df_cleaned = df_cleaned.drop(["index"], 1).reset_index(drop=True)
df_cleaned

/var/folders/8y/yq5dpggj5gq0006wv9sxbx1h0000gn/T/ipykernel_92727/2380515770.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_cleaned = df_cleaned.drop(["index"], 1).reset_index(drop=True)

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,...,Deletion_Date,cum_sum_turnover,cum_perc_turnover,combined_taxes,cum_sum_combined_taxes,revenue_growth,profit_per_employee,Birch_index,emp_growth_rate_CGR,ACE
0,10000018,AMSERV AUTO AKTSIASELTS,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,1134805.23,736604.35,1.914271e+07,200.0,...,1,19142710.36,47.00,1871409.58,1871409.58,0.00,95713.55,0.0,-0.023022,9.0
1,10000018,AMSERV AUTO AKTSIASELTS,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,1375328.87,801558.09,2.158722e+07,191.0,...,1,40729934.63,100.00,2176886.96,4048296.54,0.13,113022.12,0.0,-0.023022,9.0
2,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,Harju maakond,INFO JA SIDE,12126.74,11533.92,5.148675e+04,9.0,...,1,51486.75,2.74,23660.66,23660.66,0.00,5720.75,0.0,0.015141,3.0
3,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,Harju maakond,INFO JA SIDE,8484.90,7931.42,5.986939e+04,8.0,...,1,111356.14,5.92,16416.32,40076.98,0.16,7483.67,0.0,0.015141,3.0
4,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,Harju maakond,INFO JA SIDE,10468.75,10068.65,5.589557e+04,8.0,...,1,167251.71,8.89,20537.40,60614.38,-0.07,6986.95,0.0,0.015141,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675249,16310180,CLEANIN OÜ,Äriühing,jah,Harju ( Tallinn ),KINNISVARAALANE TEGEVUS,0.10,0.10,1.000000e-06,1.0,...,1,0.00,0.00,0.20,0.20,0.00,0.00,0.0,0.000000,0.0
1675250,16313623,KEME OÜ,Äriühing,jah,Harju ( Tallinn ),HALDUS- JA ABITEGEVUSED,0.10,0.10,1.000000e-06,1.0,...,1,0.00,0.00,0.20,0.20,0.00,0.00,0.0,0.000000,0.0
1675251,16315987,KIRIZA OÜ,Äriühing,jah,Harju ( Tallinn ),HALDUS- JA ABITEGEVUSED,0.10,0.10,1.000000e-06,1.0,...,1,0.00,0.00,0.20,0.20,0.00,0.00,0.0,0.000000,0.0
1675252,16318098,OÜ LEIDLUS,Äriühing,jah,Järva ( Paide linn ),"KUTSE-, TEADUS- JA TEHNIKAALANE TEGEVUS",0.10,0.10,1.000000e-06,1.0,...,1,0.00,0.00,0.20,0.20,0.00,0.00,0.0,0.000000,0.0
1675253,90015407,EESTI PUNASE RISTI TAASKASUTUSKESKUS SA,Äriühing,jah,Harju ( Tallinn ),HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,1000.92,1046.52,1.000000e-06,7.0,...,1,0.00,0.00,2047.44,2047.44,0.00,0.00,0.0,0.000000,0.0

In [7]:
df_cleaned.query('Registration_number == 10391131')

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,...,Deletion_Date,cum_sum_turnover,cum_perc_turnover,combined_taxes,cum_sum_combined_taxes,revenue_growth,profit_per_employee,Birch_index,emp_growth_rate_CGR,ACE
169236,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,1426220.77,994053.02,8609633.24,265.0,...,1,8.609633e+06,4.82,2420273.79,2420273.79,0.00,32489.18,0.0,0.011863,67.0
169237,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,2147796.23,1648346.87,5743574.41,297.0,...,1,1.435321e+07,8.04,3796143.10,6216416.89,-0.33,19338.63,0.0,0.011863,67.0
169238,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,1550912.46,1195574.24,4944107.48,290.0,...,1,1.929732e+07,10.81,2746486.70,8962903.59,-0.14,17048.65,0.0,0.011863,67.0
169239,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,1670639.48,1158832.55,7469944.39,287.0,...,1,2.676726e+07,14.99,2829472.03,11792375.62,0.51,26027.68,0.0,0.011863,67.0
169240,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,1821672.37,1216835.81,13929933.98,286.0,...,1,4.069719e+07,22.80,3038508.18,14830883.80,0.86,48706.06,0.0,0.011863,67.0
169241,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,1650326.66,1280771.24,5916328.85,334.0,...,1,4.661352e+07,26.11,2931097.90,17761981.70,-0.58,17713.56,0.0,0.011863,67.0
169242,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,1789294.84,1403898.72,9355564.24,333.0,...,1,5.596909e+07,31.35,3193193.56,20955175.26,0.58,28094.79,0.0,0.011863,67.0
169243,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,1812415.29,1446988.51,5548868.31,341.0,...,1,6.151795e+07,34.46,3259403.80,24214579.06,-0.41,16272.34,0.0,0.011863,67.0
169244,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,2660268.53,1569078.73,14522027.70,346.0,...,1,7.603998e+07,42.59,4229347.26,28443926.32,1.62,41971.18,0.0,0.011863,67.0
169245,10391131,NORTAL AS,Äriühing,jah,Harju maakond,INFO JA SIDE,2104782.75,1801131.72,7352014.55,360.0,...,1,8.339200e+07,46.71,3905914.47,32349840.79,-0.49,20422.26,0.0,0.011863,67.0
169246,10391131,NORTAL AS,Äriühing,jah,Harju ( Tallinn ),INFO JA SIDE,2266627.29,1753675.99,8217917.04,357.0,...,1,9.160991e+07,51.31,4020303.28,36370144.07,0.12,23019.38,0.0,0.011863,67.0
169247,10391131,NORTAL AS,Äriühing,jah,Harju ( Tallinn ),INFO JA SIDE,2047342.04,1704454.31,6110258.86,343.0,...,1,9.772017e+07,54.74,3751796.35,40121940.42,-0.26,17814.17,0.0,0.011863,67.0
169248,10391131,NORTAL AS,Äriühing,jah,Harju ( Tallinn ),INFO JA SIDE,2385306.63,1665475.73,23317179.15,336.0,...,1,1.210374e+08,67.80,4050782.36,44172722.78,2.82,69396.37,0.0,0.011863,67.0
169249,10391131,NORTAL AS,Äriühing,jah,Harju ( Tallinn ),INFO JA SIDE,2058699.39,1769103.59,5558178.87,325.0,...,1,1.265955e+08,70.91,3827802.98,48000525.76,-0.76,17102.09,0.0,0.011863,67.0
169250,10391131,NORTAL AS,Äriühing,jah,Harju ( Tallinn ),INFO JA SIDE,2382417.64,1666719.24,9103649.61,319.0,...,1,1.356992e+08,76.01,4049136.88,52049662.64,0.64,28538.09,0.0,0.011863,67.0
169251,10391131,NORTAL AS,Äriühing,jah,Harju ( Tallinn ),INFO JA SIDE,2228457.14,1677545.77,7631104.78,323.0,...,1,1.433303e+08,80.28,3906002.91,55955665.55,-0.16,23625.71,0.0,0.011863,67.0
169252,10391131,NORTAL AS,Äriühing,jah,Harju ( Tallinn ),INFO JA SIDE,2419588.78,1770788.26,20076959.72,327.0,...,1,1.634072e+08,91.53,4190377.04,60146042.59,1.63,61397.43,0.0,0.011863,67.0
169253,10391131,NORTAL AS,Äriühing,jah,Harju ( Tallinn ),INFO JA SIDE,2749129.87,2035274.77,8749890.65,329.0,...,1,1.721571e+08,96.43,4784404.64,64930447.23,-0.56,26595.41,0.0,0.011863,67.0
169254,10391131,NORTAL AS,Äriühing,jah,Harju ( Tallinn ),INFO JA SIDE,2280312.82,1954937.20,6374571.03,332.0,...,1,1.785317e+08,100.00,4235250.02,69165697.25,-0.27,19200.52,0.0,0.011863,67.0

In [8]:
# Savin data to file

df_cleaned.to_csv('./data/dataframes/full_period_4_labelling.csv')

In [45]:
# Visualising amoutnt of data we have on companies (max 17 quarter data)

df_companies = df_cleaned.groupby('Registration_number').count()
df_companies = df_companies.iloc[:,0:1]
df_companies['Reg_no'] = range(1, len(df_companies) + 1)
df_companies['Reg_no'] = df_companies.index
df_companies.reset_index(drop=True, inplace=True)
df_companies.rename(columns={'Name':'Occurrence'}, inplace=True)
df_companies.head()

   Occurrence    Reg_no
0           2  10000018
1          19  10000024
2          19  10000127
3          19  10000165
4          19  10000219

In [46]:
df_quarters = df_companies.groupby('Occurrence').count()
df_quarters['Quarters'] = range(1, len(df_quarters) + 1)
df_quarters['Quarters'] = df_quarters.index
df_quarters.reset_index(drop=True, inplace=True)
df_quarters.rename(columns={'Reg_no':'Times'}, inplace=True)
df_quarters

    Times  Quarters
0    5274         1
1    5281         2
2    4928         3
3    4753         4
4    4639         5
5    3980         6
6    3711         7
7    3680         8
8    3517         9
9    3164        10
10   2702        11
11   2703        12
12   2519        13
13   2347        14
14   2376        15
15   2541        16
16   2518        17
17   2515        18
18  61458        19

As we have vrey little refference point with the companies what have only 1 or few qarters of quality data, it would be wise to drop them