In [1]:
# import necessary libraries
import pandas as pd
import os
import glob

In [2]:
all_df_2017_2021 = pd.read_csv("./data/csv/final_csv_df/all_df_2017_2021.csv")
all_df_2017_2021.head()

/home/mshoush/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Registration_number,Name,Type,Registered_for_VAT,County,Business_area_by_EMTAK_system,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter
0,1052855,SIIRI ÜHISTU,Äriühing,ei,Harju maakond,NaN,52.75,0.0,NaN,NaN,2017_i
1,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,Harju maakond,NaN,182.00,0.0,NaN,NaN,2017_i
2,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,Harju maakond,NaN,64.02,0.0,NaN,NaN,2017_i
3,1834411,"TOMP, GARAAŽIKOOPERATIIV",Äriühing,ei,Harju maakond,NaN,2285.00,0.0,NaN,NaN,2017_i
4,1834517,GARAAŽIKOOPERATIIV NR 12,Äriühing,ei,Harju maakond,KINNISVARAALANE TEGEVUS,144.00,0.0,NaN,NaN,2017_i

In [46]:
before_covid = pd.read_csv("./data/csv/final_csv_df/before_covid_1st2017_1st2020.csv")
before_covid.head()

/home/mshoush/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Registration_number,Name,Type,Registered_for_VAT,Business_area_by_EMTAK_system,County,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter
0,1294104,"LASNAMÄE 52D, GARAAŽIÜHISTU (LIKVIDEERIMISEL)",Äriühing,ei,NaN,Harju maakond,180.75,0.00,NaN,NaN,2018_iv
1,1834405,"ED. VILDE 53, GARAAŽIEHITAJATE KOOPERATIIV",Äriühing,ei,NaN,Harju maakond,13.73,0.00,NaN,NaN,2018_iv
2,10000018,AMSERV AUTO AS,Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,Harju maakond,604240.38,639572.39,NaN,206.0,2018_iv
3,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,INFO JA SIDE,Harju maakond,14051.48,11547.12,91352.65,8.0,2018_iv
4,10000127,"ARAVETE APTEEK, TÜ",Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSŐIDUKITE JA MOO...,Järva maakond,6004.08,3230.05,130599.87,2.0,2018_iv

In [4]:
during_covid = pd.read_csv("./data/csv/final_csv_df/during_covid_2ndq2020_2021.csv")
during_covid.head()

,Registration_number,Name,Type,Registered_for_VAT,Business_area_by_EMTAK_system,County,All_taxes,Labor_taxes,Turnover,number_of_employees,year_quarter
0,10000018,AMSERV AUTO AKTSIASELTS,Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,Harju ( Tallinn ),683022.46,673574.41,NaN,198.0,2020_iv
1,10000024,"EESTI RAAMAT, OÜ",Äriühing,jah,INFO JA SIDE,Harju ( Tallinn ),20981.29,15506.56,147818.28,10.0,2020_iv
2,10000062,ALDO KOPPEL,FIE,jah,"PÕLLUMAJANDUS, METSAMAJANDUS JA KALAPÜÜK",Ida-Viru ( Lüganuse vald ),284.43,0.00,3081.01,NaN,2020_iv
3,10000127,"ARAVETE APTEEK, TÜ",Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,Järva ( Järva vald ),7510.64,5336.23,141491.22,2.0,2020_iv
4,10000165,"KIVIÕLI KAUBAHOOV, AS",Äriühing,jah,HULGI- JA JAEKAUBANDUS; MOOTORSÕIDUKITE JA MOO...,Ida-Viru ( Lüganuse vald ),146383.09,72341.36,1110913.11,44.0,2020_iv

In [5]:
taxes_info_1 = pd.read_excel('./data/taxes_information/Üksuste nimekiri 01.12.2020_revid.4.10.2021.xlsx')
taxes_info_1.head()

In [6]:
taxes_info_1 = taxes_info_1.drop('Muudatuse või lisamise kuupäev', 1)

taxes_info_1 = taxes_info_1.rename(columns={'Registrikood': 'Registration_number',\
                                'Nimi': 'Name', \
                                'EMTAK2008 Tähtkoodiga valdkond': 'Business_area_by_EMTAK_system_letter', \
                                'EMTAK2008 4-kohaline kood': 'Business_are_by_EMTAK_system_number',\
                                'Institutsionaalsete sektorite Eesti jaoks kohandatud klassifikaator 2010': 'Institutional_classification', \
                                "Kliendi/emitendi identifikaator (vastavalt Eesti Panga presidendi 29. mai määrusele nr 7)":"Client_identifyer_by_Estonian_Central_Bank", \
                                "Üksuse registreerimise kuupäev":"Registration_date", \
                                "Üksuse registrist kustutamise kuupäev":"Deletion_date",})

taxes_info_1.head()

In [7]:
taxes_info_1.shape

In [8]:
taxes_info_2 = pd.read_excel('./data/taxes_information/yksuste_nimekiri_01.12.2018_revid_28.1.19.xlsx')
taxes_info_2.head()

In [9]:
taxes_info_2 = taxes_info_2.drop('Unnamed: 8', 1)

taxes_info_2 = taxes_info_2.rename(columns={'Registrikood': 'Registration_number',\
                                'Nimi': 'Name', \
                                'EMTAK2008 Tähtkoodiga valdkond': 'Business_area_by_EMTAK_system_letter', \
                                'EMTAK2008 4-kohaline kood': 'Business_are_by_EMTAK_system_number',\
                                'Institutsionaalsete sektorite Eesti jaoks kohandatud klassifikaator 2010': 'Institutional_classification', \
                                "Kliendi/emitendi identifikaator (vastavalt Eesti Panga presidendi 29. mai määrusele nr 7)":"Client_identifyer_by_Estonian_Central_Bank", \
                                "Üksuse registreerimise kuupäev":"Registration_date", \
                                "Üksuse registrist kustutamise kuupäev":"Deletion_date",   })

taxes_info_2.head()

In [10]:
taxes_info_2[taxes_info_2['Registration_number']==10000018]

In [11]:
taxes_info_3[taxes_info_3['Registration_number']==10000018]

In [12]:
taxes_info_3 = pd.read_excel('./data/taxes_information/yksuste_nimekiri_01.12.2019_revid.23.01.20.xlsx')
taxes_info_3 = taxes_info_3.rename(columns={'Registrikood': 'Registration_number',\
                                'Nimi': 'Name', \
                                'EMTAK2008 Tähtkoodiga valdkond': 'Business_area_by_EMTAK_system_letter', \
                                'EMTAK2008 4-kohaline kood': 'Business_are_by_EMTAK_system_number',\
                                'Institutsionaalsete sektorite Eesti jaoks kohandatud klassifikaator 2010': 'Institutional_classification', \
                                "Kliendi/emitendi identifikaator (vastavalt Eesti Panga presidendi 29. mai määrusele nr 7)":"Client_identifyer_by_Estonian_Central_Bank", \
                                "Üksuse registreerimise kuupäev":"Registration_date", \
                                "Üksuse registrist kustutamise kuupäev":"Deletion_date",\
                                "Muudatuse või lisamise kuupäev":"Change_date"})

taxes_info_3.head()

In [20]:
#taxes_info_3.shape

In [13]:
combined_taxes_csv = pd.concat([taxes_info_1,taxes_info_2,taxes_info_3])
combined_taxes_csv.head()

In [14]:
common = taxes_info_1.merge(taxes_info_2, on=["Registration_number"])
result = taxes_info_1[~taxes_info_1.Registration_number.isin(common.Registration_number)]

In [15]:
merged_1_2 = pd.concat([taxes_info_1, result])
merged_1_2.head()

In [16]:
common = merged_1_2.merge(taxes_info_3, on=["Registration_number"])
result = merged_1_2[~merged_1_2.Registration_number.isin(common.Registration_number)]

merged_3 = pd.concat([taxes_info_1, result])
merged_3.head()

In [17]:
# new_df = pd.merge(all_df_2017_2021, taxes, how='inner',
#                   left_on=['Registration_number','Name'], right_on = ['Registration_number','Name'])
# new_df.head()

In [22]:
merged_3.to_csv( "./data/csv/final_csv_df/taxes_info_combined2018_2021.csv", index=False)

In [23]:
taxes = pd.read_csv("./data/csv/final_csv_df/taxes_info_combined2018_2021.csv")
taxes.head()

/home/mshoush/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Registration_number,Name,Business_area_by_EMTAK_system_letter,Business_are_by_EMTAK_system_number,Institutional_classification,Client_identifyer_by_Estonian_Central_Bank,Registration_date,Deletion_date
0,10000018,Amserv Auto AS,G,4511,S11002-S11003,8,1994-08-23,NaN
1,10000024,"Eesti Raamat, OÜ",J,5811,S11002-S11003,8,1990-07-17,NaN
2,10000127,Aravete Apteek TÜ,G,4773,S11002-S11003,8,1995-09-27,NaN
3,10000165,"Kiviõli Kaubahoov, AS",G,4719,S11002-S11003,8,1993-04-21,NaN
4,10000219,Year AS,C,1413,S11002-S11003,8,1995-09-28,NaN

In [25]:
len(taxes['Registration_number'].unique().tolist())

229884

In [26]:
len(all_df_2017_2021['Registration_number'].unique().tolist())

320702

In [27]:
len(before_covid['Registration_number'].unique().tolist())

291938

In [28]:
len(during_covid['Registration_number'].unique().tolist())

170477

In [30]:
# Program to check the list contains elements of another list

# List1
List1 = taxes['Name'].unique().tolist()
 
# List2
List2 = set(before_covid['Name'])

check =  all(item in List1 for item in List2)
 
if check is True:
    print("The list {} contains all elements of the list {}".format(List1, List2))    
else :
    print("No, List1 doesn't have all elements of the List2.")

No, List1 doesn't have all elements of the List2.

In [47]:
All_merged = all_df_2017_2021.merge(taxes, on=["Registration_number"])
During_merged = during_covid.merge(taxes, on=["Registration_number"])
Before_merged = before_covid.merge(taxes, on=["Registration_number"])

In [50]:
All_merged.to_csv( "./data/csv/final_csv_df/merged_files/All_merged_2017_2021.csv", index=False)
During_merged.to_csv( "./data/csv/final_csv_df/merged_files/During_Covid_merged.csv", index=False)
Before_merged.to_csv( "./data/csv/final_csv_df/merged_files/Before_Covid_merged.csv", index=False)